/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #9c68b6;
  --secondary: rgb(251, 237, 198);
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: var(--primary);
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
header a {
  color: #333;
  text-decoration: none;
}

header .title-header {
  display: flex;
  align-items: center;
}

header h1 {
  color: white;
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.logo-img {
  width: 100px;
  border-radius: 50px;
}

.primary-button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 20px;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(33, 33, 33, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


.alert-container {
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
  background-color: red;
}


.alert {
  position: fixed;
  bottom: 20px;
  background-color: gray;
  padding: 10px 30px;
  /* width: 80%; */
  /* max-width: 500px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid gray;
  z-index: 2;
  align-self: center;

}

.success {
  background-color: rgb(192, 220, 192);
  color: green;
  border-color: green;
}

.info {
  background-color: rgb(169, 226, 255);
  color: rgb(0, 106, 193);
  border-color: rgb(0, 106, 193);
}

.warning {
  background-color: rgb(255, 218, 170);
  color: rgb(125, 82, 0);
  border-color: rgb(125, 82, 0);
}

.error-alert {
  background-color: #ffecec;
  color: red;
  border-color: red;
}


.icon {
  margin-right: 10px;
}