:root {
  --primary: #9c68b6;
  --secondary: rgb(251, 237, 198);
  --error: #e7195a;
}

/* journal page */
.journal-page,
.journal-form {
  display: flex;
  flex-direction: column;
}

/* journal input */
.journal-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.journal-input {
  border-radius: 20px;
  padding: 12px;
  border-width: 1px;
  width: 70%;
  max-width: 700px;
  display: block;
}

/* journal form pop up */

.journal-form-pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
  z-index: 2;
}

.journal-form-pop-up-card {
  width: 70%;
  max-width: 700px;
  background-color: white;
}

.journal-pop-up-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.journal-pop-up-header h3 {
  color: var(--primary)
}

.journal-popup-close-btn {
  position: absolute;
  top: 20px;
  right: 10px;
  background-color: var(--primary);
  border: none;
  border-radius: 20px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
}

.journal-form {
  align-items: center;
}

.journal-input-popup {
  width : 90%;
  height: 100px;
  align-content: top;
  font-family: "Poppins";
}

.journal-form .primary-button {
  margin-bottom: 20px;
}

.mood-ranking-btn {
  margin: 20px 20px;
  padding: 10px 14px;
  border-radius: 20px;
  color: var(--primary);
  background-color: white;
  cursor: pointer;
  border-color: var(--primary);
  border-style: solid;
  font-weight: bold;
}

.btn-active {
  background-color: var(--primary);
  color: white;
  border: none;
}


/* journal list */
.journals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.journal-details {
  background: #fff;
  width: 60%;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
}

.journal-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.journal-details .bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.journal-details .icon {
  color: rgb(75, 75, 75);
  width: 40px;
  margin-right: 10px;
  cursor: pointer;
}
